body {
  padding: 100px; */
  font-family: "Roboto", sans-serif;
}

header {
  position: fixed;
  top:0;
  left:0;
  right:0;
  background-color: gray;
  border-bottom: 1px solid black;
}

h1 {
  float:left;
  vertical-align:top;
  width:66.66%;
}

nav {
  float:right;
  width:33.33%;
  margin-top:21px;
}

.link-text {
  font-size:30px;
  margin-right: 20px;
  color:purple;
}

.search {
  padding-top:30px; 
  margin-bottom:30px;
}

.search input {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 30px;
  height: 30px;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  padding: 0 5px 0 8px;
  width: 400px;
}

.page-nav {
  padding-top:5px;
}

.job-list {
  padding-top:20px;
  padding-left: 0px;
  list-style: none;
}

.job {
  padding-top:10px;
}

.job-date, .job-city {
  color: gray;
}

.job-date, .job-title, .job-city {
  margin-left:10px;
}

.fa-star-o:hover {
   color:yellow;
} 

/* .fa-star-o {
  &:hover {
    @extend .yellow;
  }
} */



